@charset "utf-8";

.sec-05 {
  position: relative;
}

.flex-box {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.txt-wrap {
  max-width: 1100px;
  text-align: center;
  color: #fff;
}
.txt-wrap-02 {
  padding-top: 30px;
}

h2 {
  font-size: 40px;
}

p {
  font-size: 22px;
}

.kolon-cttd-board {
  max-width: 1000px;
  width: 50%;
  margin: 100px auto;
}

.kolon-cttd-board__text {
  font-size: 0.7rem;
  text-align: center;
  font-weight: 600;
  margin-bottom: 50px;
}

.kolon-cttd-board__inputbox {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  width: 100%;
}

.input-holoder {
  width: 80%;
  padding: 25px;
}

.input-btn {
  width: 10%;
  background-color: #000;
  color: #fff;
  font-size: 13px;
}
