.table-wrap {
  width: 600px;
  margin: 100px auto;

  table {
    width: 100%;
    border: 1px solid #000;

    th,
    td {
      border: 1px solid #000;
    }

    thead {
      background-color: blue;
      color: #fff;
    }

    .common {
      text-align: center;
      background-color: #6bc9f4dd;
    }
  }
}
