@charset "utf-8";

body {
  margin: 0;
}

ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #333;
}

div {
  box-sizing: border-box;
}

td,
th {
  border: 1px solid #000;
  font-size: 20px;
}

table {
  border-collapse: collapse;
}

.wrap {
  width: 100%;
  max-width: 1920px;
}

.container {
  width: 100%;
}
#header {
  width: 100%;
  background: rgba(36, 152, 225, 0.933) 100% / cover;
  height: 1000px;
}
.portfolio-inner {
  position: relative;
  width: 1440px;
  height: 100%;
  margin: 0 auto;
}

.main-text-box {
  position: absolute;
  top: 150px;
  left: 0;
  width: 40%;
}

.main-title {
  font-size: 50px;
  color: #fff;
  font-weight: 800;
}

.main-text {
  line-height: 30px;
  font-size: 20px;
  color: #fff;
  font-weight: 500;
}

.main-btn-box {
  width: 150px;
  height: 60px;
  text-align: center;
  border-radius: 10px;
  background-color: #444;
  transition: all 1s linear;
}

.main-btn {
  text-align: center;
  line-height: 60px;
  color: #fff;
  font-weight: 600;
}

.main-btn-box:hover {
  background-color: #c26060;
}

.main-img {
  position: absolute;
  bottom: 0;
  right: -20%;
  width: 600px;
}
.main-img img {
  display: block;
  width: 100%;
}

@media (max-width: 768px) {
  .portfolio-inner {
    width: 100%;
  }

  .main-text-box {
    top: 50px;
    left: 80px;
    width: 600px;
    text-align: center;
  }

  .main-title {
    font-size: 30px;
  }

  .main-text {
    font-size: 20px;
  }

  .main-btn-box {
    margin: 0 auto;
  }

  .main-img {
    display: block;
    left: 130px;
    width: 500px;
  }
  .main-img img {
    display: block;
    width: 100%;
  }
}
